:root{

    --bg: #011627;
    --configBg: #406243;
    --boardTam: 500px;
    --apple: rgb(165, 0, 0);
    --info: rgb(180, 180, 180);
    
    --darkGray: rgb(90, 90, 90);

    --defaultSnake: #6fbc60;
    --darkSnake: #396635;
    --greenSnake: rgb(0, 165, 0);
    --strippedSnake:  repeating-linear-gradient(
        50deg,
        #6fbc60,
        #6fbc60 10px,
        #4d9846 10px,
        #4d9846 18px
    );

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{

    height: 100vh;
    background-color: var(--bg);

    overflow: hidden;
}

button{
  
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.header{

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: fit-content;
    padding: 1rem;
    font-size: 1em;
    font-weight: 700;
    
    color: var(--info);
}

.header .logo{
    
    font-size: 3em;
    color: #56f326;
    letter-spacing: 2px;
    background-image: -webkit-linear-gradient(92deg, #56f326, #137200);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-animation: hue 15s infinite linear; */
}

@-webkit-keyframes hue{

    from{
        -webkit-filter: hue-rotate(0deg);
    }

    to{
        -webkit-filter: hue-rotate(-360deg);
    }
}

#config{

    color: var(--info);
    cursor: pointer;
}

#config:hover > #config-icon{

    transition: all .5s ease;
    transform: rotate(90deg) scale( 1.2 );
}



/* MODALS */

.modal{
    background-color: var(--configBg);
    min-width: 300px;
    min-height: auto;

    max-width: calc((50% - 6px) - 2em);
    max-height: calc((70% - 6px) - 2em);

    padding: 0px;
    margin: 100px auto;
    
    border: 0;

    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}

.modal::backdrop{

    /* background: rgb(0 0 0 / .4);
    background-color: #23074d63; */
}

.modal-header{

    padding: 10px;

    background-color: gray;
    border-bottom: 1px solid white;

    display: flex;
    justify-content: end;
    align-items: center;
}

.modal-body{

    width: 100%;
    height: 100%;

    color: white;

    padding: 10px;
}

.modal-buttons{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.modal-buttons button{
    background-color: gray;
    padding: 5px;
    border-radius: 4px;
}

.modal-buttons button:hover{

    box-shadow: 0 0 1px 1px #ffffff;
}

.modal-buttons button:active{

    box-shadow: 0 0 3px 3px #ffffff;
}

.h1{
    font-weight: 800;
    font-size: 18px;
}

input, select{

    border: none;
    outline: none;
    width: 20%;
}

.flex-section{

    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
